/* Custom overrides */
#skills .d-flex {
  background: rgb(50, 50, 50); /* Default background color */
}

#skills .d-flex:hover {
  background: rgb(60, 60, 60); /* Background color on hover */
}

#skills img {
  border-radius: 15% !important; /* Circular images */
}
