/* Base Styles */
#ContactPage {
  width: 100%; /* Full width of the container */
  max-width: 70rem; /* Maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
}

#Contact {
  padding: 2rem; /* Padding inside the #Contact section */
}

.form-control {
  border: solid black 0.1rem; /* Thin black border for form controls */
  border-radius: 0.5rem; /* Rounded corners for form controls */
}

.btn-primary {
  background-color: white; /* White background for primary buttons */
  color: black; /* Black text color for primary buttons */
  border-radius: 0.5rem; /* Rounded corners for primary buttons */
}

.min-vh-100 {
  min-height: 50vh !important; /* Minimum height set to 50% of the viewport height */
}

/* Responsive Styles */
@media (max-width: 768px) {
  #Contact {
    padding: 1rem; /* Reduced padding for smaller screens (tablets) */
  }
}

@media (max-width: 480px) {
  #Contact {
    padding: 0.5rem; /* Further reduced padding for very small screens (phones) */
  }
}
